.filter-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    height: auto;
  }
}
select,
button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 0.5rem;
}

select:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.filter-options {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
select {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
}

@media (max-width: 768px) {
  select {
    width: 100%;
  }
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.filter-select {
    margin: 1rem 2rem;
    padding: 1rem;
}
.filter-btn {
    padding: 1rem 3rem;
    margin-left: 5rem;
    margin-top: 2rem;
    color: white;
    background-color: blue;
    border-radius: 0.6rem;
}
.main-filter {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}